--
-- PostgreSQL database dump
--

\restrict hFQ35j7AJrerbxcwACzZaJA69a9L42Hj5zq9PScDv3xZfg4sGWrRirs5rtWAi5K

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg13+1)
-- Dumped by pg_dump version 18.4 (Debian 18.4-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories ("categoryId", "categoryName", description) FROM stdin;
1	Public	government run
2	Private	private hospitals, clinics, medical facilities, etc.
\.


--
-- Data for Name: components; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: functions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: standards; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: criteria; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: compliances; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organizations ("organizationId", "organizationName", "categoryId", description) FROM stdin;
1	PHA	1	Provincial Health Authority.
2	Paradise Hospital	2	Paradise private hospital...
3	NDoH	1	The National Department of Health
4	NCDPHA	1	National Capital District Provincial Health Authority
\.


--
-- Data for Name: riskRatings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."riskRatings" ("riskId", "riskValue", "riskLabel", description, "severityOrder") FROM stdin;
2	M	Moderate	Moderate Risk Rating	2
3	H	High	High Risk Rating	3
4	E	Extreme	Extreme Risk Rating	4
1	L	Low	Low Risk Rating	1
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles ("roleId", "roleName", description) FROM stdin;
1	Admin	Administrator role
2	User	test user account
3	Surveyor	This role is for the surveyors doing the checks.
4	Team Lead	Leads assigned survey teams and can view the complete assigned survey.
5	Viewer	Read-only access to reference information and dashboard summaries.
\.


--
-- Data for Name: scores; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.scores ("scoreId", "scoreValue", "scoreLabel", description) FROM stdin;
1	0	0	Non-Compliant
2	1	1	Partially Compliant
3	2	2	Compliant
7	\N	NA	NA = Not Applicable
\.


--
-- Data for Name: specializations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.specializations ("specializationId", "specializationName", description) FROM stdin;
1	Finance & Corporate Services	\N
2	Public Health	\N
3	Medical Services	\N
4	Information Technology	Information and Communications Technology specialist, assigned to survey the ICT aspect of the health facility.
\.


--
-- Data for Name: surveyorCertStatuses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."surveyorCertStatuses" ("surveyorCertStatusId", "surveyorCertStatusName", description) FROM stdin;
1	Certified Surveyor	Qualified to participate in accreditation survey teams.
2	Surveyor Trainee	Completed initial training; requires supervision by a certified lead.
3	Inactive / Not Practicing	Certified previously but not currently available for assignments.
4	Certification Suspended	Temporarily not eligible to undertake surveys.
5	Certification Expired	Previously certified, but renewal is overdue.
\.


--
-- Data for Name: userAccounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."userAccounts" ("userAccountId", "roleId", username, "passwordHash", "isActive", "dateCreated") FROM stdin;
4	3	jRogers	AQAAAAIAAYagAAAAEMw9NL08YZhUPFkKCykJWwTn/O98em4UelGKMeUP3WIs9ict3Swc95Tc8BH+ZeRvvA==	t	2026-09-09
1	1	isiddy	AQAAAAIAAYagAAAAEDhXhWIBrAJHRez8vsROulIQrnVfZeHV7D0HaxSLPIfdO03Lr8WuxX7R/mVefRIFOw==	t	2026-09-02
2	4	jsmith	AQAAAAIAAYagAAAAEPuhr0VhLS2mrckbZHibcxdZ5Gwd7ZU3G3jOGE2K26WQv7dfx5t0trPtKC32Z9nY5g==	t	2026-09-04
3	3	jjackson	AQAAAAIAAYagAAAAEGoy0/G4Nx7QsBDYiFnOBnBapQgERBEfpmYmoBjPR8R4CFBQKuhd44OFrurYn0g22w==	t	2026-09-04
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: surveyors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.surveyors ("surveyorId", "userId", "surveyorCertStatusId", "specializationId") FROM stdin;
5	3	1	1
6	5	2	1
8	4	2	3
7	2	1	4
\.


--
-- Data for Name: complianceAssessments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: evidence; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: complianceEvidenceChecks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: creditationStatuses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."creditationStatuses" ("creditationStatusId", "creditationStatus", description, comments) FROM stdin;
1	Not Yet Assessed	The facility has not started an accreditation survey.	Ready to be assigned to an assessment team.
\.


--
-- Data for Name: regions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.regions ("regionId", "regionName") FROM stdin;
2	Momase Region
1	Southern Region
3	Highlands Region
4	New Guinea Islands
\.


--
-- Data for Name: provinces; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.provinces ("provinceId", "provinceName", "regionId") FROM stdin;
1	National Capital District (NCD)	1
2	Madang	2
3	Morobe	2
4	Gulf	1
5	Chimbu	3
6	Eastern Highlands	3
7	Enga	3
8	Southern Highlands	3
9	Western Highlands	3
10	Hela	3
11	Jiwaka	3
12	East New Britain	4
13	Manus	4
14	New Ireland	4
15	West New Britain	4
16	Autonomous Region of Bougainville	4
17	East Sepik	2
18	Sandaun	2
19	Central	1
20	Milne Bay	1
21	Oro	1
22	Western	1
\.


--
-- Data for Name: districts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: levels; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: facilities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.facilities ("facilityId", "levelId", "facilityName", "districtId", "organizationId", "creditationStatusId", "headOfService", comments) FROM stdin;
1	4	Gerehu Hospital	3	4	1		\N
2	3	Morata Clinic	3	4	1	Helen Kaii Siddy	>> dummy data
\.


--
-- Data for Name: refreshTokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: surveyReportVersions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."surveyReportVersions" ("reportVersionId", "surveyId", "versionNumber", "createdAt", "createdBy", "reportJson") FROM stdin;
\.


--
-- Data for Name: surveyStandardAssignments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."surveyStandardAssignments" ("surveyStandardAssignmentId", "surveyId", "standardId", "surveyorId") FROM stdin;
4	2	1	5
5	2	2	5
24	1	1	6
25	1	2	6
26	1	5	8
27	1	6	8
28	1	7	6
29	1	8	7
30	1	10	6
31	1	13	8
32	1	17	8
\.


--
-- Data for Name: surveyTypes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."surveyTypes" ("surveyTypeId", "surveyTypeName", description) FROM stdin;
1	Internal	These are the internal, self-rating survey(s) conducted in-house by the health facility.
2	External	The National Health Facility Accreditation Survey conducted by the recognized national body, and its surveyors.
\.


--
-- Name: categories_categoryId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."categories_categoryId_seq"', 2, true);


--
-- Name: complianceAssessments_complianceAssessmentId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."complianceAssessments_complianceAssessmentId_seq"', 732, true);


--
-- Name: complianceEvidenceChecks_complianceEvidenceCheckId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."complianceEvidenceChecks_complianceEvidenceCheckId_seq"', 2128, true);


--
-- Name: compliances_complianceId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."compliances_complianceId_seq"', 366, true);


--
-- Name: components_componentId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."components_componentId_seq"', 10, true);


--
-- Name: creditationStatuses_creditaitonStatusId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."creditationStatuses_creditaitonStatusId_seq"', 1, true);


--
-- Name: criteria_criterionId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."criteria_criterionId_seq"', 130, true);


--
-- Name: districts_districtId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."districts_districtId_seq"', 96, true);


--
-- Name: evidence_evidenceId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."evidence_evidenceId_seq"', 1066, true);


--
-- Name: facilities_facilityId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."facilities_facilityId_seq"', 2, true);


--
-- Name: functions_functionId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."functions_functionId_seq"', 6, true);


--
-- Name: levels_levelId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."levels_levelId_seq"', 4, true);


--
-- Name: organizations_organizationId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."organizations_organizationId_seq"', 4, true);


--
-- Name: provinces_provinceId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."provinces_provinceId_seq"', 22, true);


--
-- Name: refreshTokens_refreshTokenId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."refreshTokens_refreshTokenId_seq"', 458, true);


--
-- Name: regions_regionId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."regions_regionId_seq"', 4, true);


--
-- Name: riskRatings_riskId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."riskRatings_riskId_seq"', 4, true);


--
-- Name: roles_roleId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."roles_roleId_seq"', 5, true);


--
-- Name: scores_scoreId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."scores_scoreId_seq"', 7, true);


--
-- Name: specializations_specializationId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."specializations_specializationId_seq"', 4, true);


--
-- Name: standards_standardId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."standards_standardId_seq"', 20, true);


--
-- Name: surveyReportVersions_reportVersionId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."surveyReportVersions_reportVersionId_seq"', 2, true);


--
-- Name: surveyStandardAssignments_surveyStandardAssignmentId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."surveyStandardAssignments_surveyStandardAssignmentId_seq"', 32, true);


--
-- Name: surveyTypes_surveyTypeId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."surveyTypes_surveyTypeId_seq"', 2, true);


--
-- Name: surveyorCertStatuses_surveyorCertStatusId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."surveyorCertStatuses_surveyorCertStatusId_seq"', 5, true);


--
-- Name: surveyors_surveyorId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."surveyors_surveyorId_seq"', 8, true);


--
-- Name: userAccounts_userAccountId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."userAccounts_userAccountId_seq"', 4, true);


--
-- Name: users_userId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."users_userId_seq"', 5, true);


--
-- PostgreSQL database dump complete
--

\unrestrict hFQ35j7AJrerbxcwACzZaJA69a9L42Hj5zq9PScDv3xZfg4sGWrRirs5rtWAi5K

